/*
font-family: 'Grenze', serif;
font-family: 'Kodchasan', sans-serif;
*/

body {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
}

div {
  background-color: #A8C3FF;
}


.grid-demo {
  background-color: #DEEFFF;
}


.grid-demo section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-demo div {
  padding: 20px;
}

.grid-demo .feature {
  grid-column: 1/3;
  grid-row: 1/3;
  font-weight: 700;
  background-color: #8EC2E8;
}
